if theme.preloader && theme.preloader.enable
  case theme.preloader.load_style
    when 'gear'
      include ./load_style/gear.pug
    when 'ironheart'
      include ./load_style/ironheart.pug
    when 'scarecrow'
      include ./load_style/scarecrow.pug
    when 'triangles'
      include ./load_style/triangles.pug
    when 'wizard'
      include ./load_style/wizard.pug
    when 'image'
      include ./load_style/image.pug
    when 'spinner'
      include ./load_style/spinner.pug
    default
      include ./load_style/default.pug