script(async).
  var preloader = {
    endLoading: () => {
      document.body.style.overflow = 'auto';
      document.getElementById('loading-box').classList.add("loaded")
      setTimeout(function () { document.getElementById('loading-box').classList.add("loaded-end") }, 1000)
    },
    initLoading: () => {
      document.body.style.overflow = '';
      document.getElementById('loading-box').classList.remove("loaded")
      document.getElementById('loading-box').classList.remove("loaded-end")
    }
  }
  window.addEventListener('load',preloader.endLoading())
  setTimeout(function () { preloader.endLoading() }, 3000)
  document.getElementById('loading-box').addEventListener('click', () => { preloader.endLoading() })