extends includes/layout.pug

block content
  div
    include ./includes/mixins/article-sort.pug
    #archive
      //- 二选一
      //- <div id="posts-chart" data-start="2021-01" style="height: 300px; padding: 10px;"></div>
      //- #posts-chart(data-start="2021-01" style="height: 300px; padding: 10px;")
      - const archiveLength = findArchiveLength(fragment_cache)
      .article-sort-title= _p('page.articles') + ' - ' + archiveLength
      +articleSort(page.posts, page.current)
      include includes/pagination.pug