extends includes/layout.pug

block content
  include ./includes/mixins/post-ui.pug
  #recent-posts.recent-posts
    //- if config.swiperNotice && config.swiperNotice.enable
    //-   .recent-post-item(style='width:100%; height:auto; padding:.6rem 1rem; flex-direction:row')
    //-     !=partial('includes/swiper-notice', {}, {cache: true})
    if config.catalogMagnet && config.catalogMagnet.enable
      .recent-post-item(style='width:100%; height:auto;')
        !=catalog_magnet()
    if config.swiperPost && config.swiperPost.enable
      .recent-post-item(style='width:100%; height:auto;')
        !=partial('includes/swiper-post', {}, {cache: true})
    +postUI
    include includes/pagination.pug