extends includes/layout.pug

block content
  div
    if theme.tag_ui == 'index'
      include ./includes/mixins/post-ui.pug
      #recent-posts.recent-posts
        +postUI
        include includes/pagination.pug
    else
      include ./includes/mixins/article-sort.pug
      #tag
        //- 二选一
        //- <div id="tags-chart" data-length="10" style="height: 300px; padding: 10px;"></div>
        //- #tags-chart(data-length="10" style="height: 300px; padding: 10px;")
        #catalog-bar
          i.fa-fw.fas.fa-tags
          #catalog-list
            !=catalog_list("tags")
          a.catalog-more(href="/tags/")!= '更多'
        .tag-cloud-list.is-center
          !=cloudTags({source: site.tags, minfontsize: 1.2, maxfontsize: 2.1, limit: 0, unit: 'em'})
        .article-sort-title= _p('page.tag') + ' - ' + page.tag
        +articleSort(page.posts, page.current)
        include includes/pagination.pug