span.nota
  color: #99a9bf
  text-decoration: none
  word-wrap: break-word
  transition: all .2s
  overflow-wrap: break-word

  &:hover
    color: var(--text-bg-hover)

/*标题悬停显示文章描述*/
span.nota
  &:hover
    &:before
      position: fixed
      width:fit-content
      max-width: 80%
      margin:auto
      left:0;
      right:0
      top:10%
      border-radius: 10px
      text-align: center
      z-index: 100
      content: attr(data-nota)
      font-size: 16px
      color: #fff
      padding: 10px
      background-color: var(--text-bg-hover)
[data-theme=dark]
  span.nota
    &:hover
      &:before
        background-color: rgba(#121212,0.8)
