if config.card_weibo && config.card_weibo.enable
  .card-widget.card-weibo
    .card-content
      .item-headline
        i.fab.fa-weibo
        span= _p('微博热搜')
      #weibo-container(style="width: 100%; height: 150px;font-size: 95%;")
        center
          i.fa.fas.fa-spinner.fa-spin(style="font-size: 90px; padding: 30px")
  script(defer data-pjax src=url_for(config.card_weibo.CDN))