if config.card_history && config.card_history.enable
  .card-widget.card-history
    .card-content
      .item-headline
        i.fas.fa-clock.fa-spin
        span= _p('历史今日')
      #history-baidu(style='height: 100px; overflow: hidden; font-size:95%')
        #history-container.history_swiper-container(style="width: 100%; height: 100%;")
          #history_container_wrapper.swiper-wrapper(style="height: 20px;")
  script(defer data-pjax src=url_for(config.card_history.CDN))