.notice-title
  i.fas.fa-bullhorn.fa-shake
  a(href='/notice/')= _p('aside.card_announcement')
#notice-container
  .swiper-wrapper
    if site.data.notice
      each i in site.data.notice
        .notice-item.swiper-slide
          .notice-item-msg!= '【' + i.date + '】 ' + i.msg
.notice-goto
  a(href='/notice/' title='查看更多...')
    i.fas.fa-arrow-circle-right
script.
  var noticeContainer = document.getElementById('notice-container');  
  noticeContainer.insertAdjacentHTML('beforebegin', `
    <style>
      #notice-container {
        display: flex;
        flex: 1;
        margin: 0 .5rem;
        overflow: hidden;
      }

      #notice-container .swiper-wrapper {
        height: 1.5rem;
        line-height: 1.5rem;
        text-align: center;
      }

      .notice-title {
        color: red;
        font-weight: bold;
      }

      .notice-title a {
        margin-left: .3rem;
      }

      .notice-item {
        overflow: hidden;
        font-weight: bold;
        margin: auto;
      }

      .notice-title a,
      .notice-item-msg a,
      .notice-goto a {
        color: var(--font-color);
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
      }

      .notice-title a:hover,
      .notice-item-msg a:hover,
      .notice-goto a:hover {
        color: var(--theme-color) !important;
      }
    </style>
  `)
  var noticeSwiper = new Swiper('#notice-container', {
    direction: 'vertical',
    loop: true,
    mousewheel: true,
    autoplay: {
      delay: 3000,
      disableOnInteraction: true,
    }
  })
  noticeContainer.onmouseenter = function () {
    noticeSwiper.autoplay.stop();
  };
  noticeContainer.onmouseleave = function () {
    noticeSwiper.autoplay.start();
  };