.category-lists!= list_categories()

//- <div id="categories-chart" data-parent="true" style="height: 300px; padding: 10px;"></div>
//- #categories-chart(data-parent="true" style="height: 300px; padding: 10px;")